apiVersion: 1

contactPoints:
  - name: slack-mt5-alerts
    type: slack
    settings:
      url: https://hooks.slack.com/services/YOUR/SLACK/WEBHOOK
      username: MT5 Hub Alert
      icon_emoji: ':chart_with_upwards_trend:'
      title: '{{ template "slack.title" . }}'
      text: '{{ template "slack.text" . }}'

templates:
  - name: slack.title
    template: |
      [{{ .Status | toUpper }}{{ if eq .Status "firing" }}:{{ .Alerts.Firing | len }}{{ if gt (.Alerts.Resolved | len) 0 }}, RESOLVED:{{ .Alerts.Resolved | len }}{{ end }}{{ end }}] {{ .GroupLabels.SortedPairs.Values | join "_" }} {{ if gt (len .CommonLabels) (len .GroupLabels) - 1) }}{{ with .CommonLabels.Remove .GroupLabels.Names }}{{ .Values | join "_" }}{{ end }}{{ end }}

  - name: slack.text
    template: |
      {{ range .Alerts }}{{ .Annotations.summary }}
      {{ .Annotations.description }}

      Labels:
      {{ range .Labels.SortedPairs }}{{ .Name }}={{ .Value }}
      {{ end }}

      {{ if gt (len .Annotations) 0 }}
      Annotations:
      {{ range .Annotations.SortedPairs }}{{ .Name }}={{ .Value }}
      {{ end }}
      {{ end }}

      {{ end }}