apiVersion: 1

contactPoints:
  - name: dingtalk-mt5-alerts
    type: dingding
    settings:
      url: https://oapi.dingtalk.com/robot/send?access_token=YOUR_DINGTALK_ACCESS_TOKEN
      msgType: link

templates:
  - name: dingtalk.title
    template: |
      [{{ .Status | toUpper }}{{ if eq .Status "firing" }}:{{ .Alerts.Firing | len }}{{ if gt (.Alerts.Resolved | len) 0 }}, RESOLVED:{{ .Alerts.Resolved | len }}{{ end }}{{ end }}] {{ .GroupLabels.SortedPairs.Values | join "_" }}

  - name: dingtalk.text
    template: |
      {{ range .Alerts }}
      **{{ .Annotations.summary }}**

      {{ .Annotations.description }}

      **Labels:**
      {{ range .Labels.SortedPairs }}- {{ .Name }}: {{ .Value }}
      {{ end }}

      {{ if gt (len .Annotations) 0 }}
      **Annotations:**
      {{ range .Annotations.SortedPairs }}- {{ .Name }}: {{ .Value }}
      {{ end }}
      {{ end }}
      {{ end }}